@using WebApplication1.Controllers
@model WebApplication1.Models.Account.UserInfoModel;
@{
    ViewData["Title"] = "UserPage";
}

<h1>UserPage</h1>

@if (ViewData["NotSetUp"] != null && (bool)ViewData["NotSetUp"] == true)
{
    <div class="d-flex justify-content-center align-items-center" id="setup-container">
        <form class="shadow-sm rounded bg-body-tertiary" method="post" id="setup-form" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="mb-3">
                <div>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <label asp-for="Gender" class="form-label"></label>
                <select asp-for="Gender" class="form-select">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="mb-3">
                <div>
                    <span asp-validation-for="Discipline" class="text-danger"></span>
                </div>
                <label asp-for="Discipline" class="form-label"></label>
                <input asp-for="Discipline" class="form-control">
            </div>
            <div class="mb-3">
                <div>
                    <span asp-validation-for="OtherHobbies" class="text-danger"></span>
                </div>
                <label asp-for="OtherHobbies" class="form-label"></label>
                <input asp-for="OtherHobbies" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="ProfileImage" class="form-label"></label>
                <input type="file" name="imageFile" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Complete profile</button>
        </form>
    </div>
}
else
{
    <div>
        <img src="@Url.Action("DisplayProfileImage", "Account", new{userId = Model.Id})" style="width: 200px; height: 200px; object-fit: contain"/>
        <h1>Name: @Model.Name</h1>
        <h1>Gender: @Model.Gender</h1>
        <h1>Account Lifetime: @Model.AccountLifeTime</h1>
        <h1>Discipline: @Model.Discipline</h1>
        <h1>Total distance traveled: @Model.TotalDistance</h1>
        <h1>Total journeys: @Model.TotalJourneys</h1>
        <h1>Other hobbies: @Model.OtherHobbies</h1>
    </div>
}

<div class="d-flex justify-content-center">
    <img src="/images/bicycle.png" style="opacity: 0.50"/>
</div>